.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.config.mts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
target/**
!target/wasm32-unknown-unknown/release/vsc_oxipng.wasm
Cargo.lock
Cargo.toml
.nvmrc
wit/**
*.png