---
name: CI

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to VS Code Marketplace"
        required: false
        default: "false"

jobs:
  vscode:
    name: VSCode Extension
    runs-on: ubuntu-latest
    env:
      RUST_CHANNEL: stable
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Enable PNPM
        run: corepack enable pnpm

      - name: Install Rust toolchain
        run: |
          rustup update --no-self-update ${{ env.RUST_CHANNEL }}
          rustup component add --toolchain ${{ env.RUST_CHANNEL }} rustfmt rust-src
          rustup default ${{ env.RUST_CHANNEL }}
          rustup target add wasm32-unknown-unknown

      - name: Install Dependencies
        run: pnpm install

      - name: Lint
        run: pnpm run lint
        working-directory: packages/vscode-extension

      - name: Build VSCode Extension
        run: pnpx vsce package
        working-directory: packages/vscode-extension

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: vscode-extension
          path: packages/vscode-extension/*.vsix

      - name: Publish to VS Code Marketplace
        if: success() && (startsWith(github.ref, 'refs/tags/') || github.event.inputs.publish == 'true')
        run: pnpx vsce publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
